#content {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#tools {
    float: left;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: gray;
    font-size: 0.8em;
    text-align: center;
}

.buddyDrawing {
    border: solid 2px black;
}

.buddyDrawingDiv {
    float: left;
    margin: 15px;
}

.colButton {
    width: 50px;
    height: 50px;
    border: solid 2px black;
    margin: 5px;
}

.sizeButton div {
    border: solid 2px black;
    border-radius: 50%;
    margin: 5px;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid gray;
    padding: 0 .5rem 0 .5rem;
}
